/* global styles */

:root {
    --tomato: hsl(4, 100%, 67%);
    --tomato-alpha: hsla(4, 100%, 67%, 0.15);
    --pink: hsl(347, 100%, 66%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--charcoal-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.button {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.3125rem;
    padding-bottom: 1.125rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: box-shadow 0.25s ease-in-out;
    letter-spacing: 0.3px;
}

.button::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, var(--pink), var(--tomato));
    z-index: -1;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

.button:hover::before {
    opacity: 1;
}

.button:hover {
    box-shadow: 0 20px 25px hsla(4, 100%, 67%, 0.35);
    cursor: pointer;
}
